body{
    margin: 0;
    font-family: "roboto", sans-serif;
    display: flex;
    min-height: 100vh;  
}

.columna-izq{
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}




.user{
    display: flex;
    border: 1px solid;
    border-color: #828485;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


.nombre-user{
    margin: 5px;
}

.foto-perfil{
    border-radius: 50%;
    padding: 10px;
}

.icons{
    display: flex;
    padding: 10px;
}

.nuevo-chat{
    padding:20px;
    justify-content: center;
    border: 1px solid;
    border-color: #828485;
    cursor: pointer;
}

.boton-chat{
    color: #fff;
    background-color: #A491d2;
    text-align: center;
    padding: 0.8em 0;;
}

.chat{
    display: flex;
    border: 1px solid #828485;
}

.columna-der{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    }